## gradle ##
.gradle
build/

gradle-app.setting

!gradle-wrapper.jar

### IntelliJ ###
*.iml

## directory based
.idea/
.idea

## specific IntelliJ plug-in files

*/out/
/out/

.idea_modules

## miscellanous ##
results
log/

