target/

### java ###
*.class

### package files ###
*.jar
*.war
*.ear

## gradle ##
.gradle
.gradle/
build/

gradle-app.setting

!gradle-wrapper.jar

## thumbnails ##
._*

### IntelliJ ###
*.iml

## directory based
.idea/gradle.xml
.idea/

## specific IntelliJ plug-in files

*/out/
/out/

.idea_modules

## miscellanous ##
results
log/

